In [ ]:
import numpy as np
import pandas as pd

1.1 Object Creation

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Question:
1. What does mean np.nan ?

1.1 Object Cration - Practise 1

In [ ]:
d = pd.Series([5, 8, 6, 2, 5, 7])
d

0    5
1    8
2    6
3    2
4    5
5    7
dtype: int64

2.1 Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [ ]:
dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-03-01 -0.092701  0.793221 -0.125674  0.514666
2022-03-02  1.245382 -0.272757  0.625983 -2.324750
2022-03-03 -0.861237  0.783320  0.306923 -0.618637
2022-03-04 -0.412430 -0.176556 -0.564748  0.969953
2022-03-05  0.203290  0.203435  0.625536 -1.746683
2022-03-06  0.216757 -1.240276  0.142356  0.957594
2022-03-07 -0.486497  0.206770 -1.554833  2.047805

Q 1.Passing a numpy array, but going through dp.date_range ?

3.1 Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure

In [ ]:
import numpy as np
import pandas as pd

df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test","train","test","train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
import numpy as np
import pandas as pd

df2.add_prefix

<bound method NDFrame.add_prefix of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [ ]:
import numpy as np
import pandas as pd

df.to_numpy()

array([[-0.09270111,  0.79322146, -0.12567417,  0.51466583],
       [ 1.24538151, -0.27275713,  0.62598286, -2.32475032],
       [-0.86123678,  0.78331991,  0.30692299, -0.61863709],
       [-0.41243018, -0.17655613, -0.56474757,  0.96995334],
       [ 0.20328971,  0.20343463,  0.62553559, -1.74668344],
       [ 0.21675749, -1.2402761 ,  0.14235601,  0.95759357],
       [-0.4864966 ,  0.20677048, -1.55483347,  2.04780477]])

In [ ]:
import numpy as np
import pandas as pd

d = pd.Series([5, 8, 6, 2, 5, 7])
d

0    5
1    8
2    6
3    2
4    5
5    7
dtype: int64

Viewing data

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df
df.loc[dates[0]]

A    2.160486
B    0.332340
C   -1.813641
D    0.306747
Name: 2022-03-01 00:00:00, dtype: float64

Practice

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df3 = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df3

df3.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-03-01 -0.520457  0.059458 -1.724849  2.073396
2022-03-02  0.487301 -0.567464 -0.794238 -0.116414
2022-03-03  2.179485  1.684390 -1.149072 -0.355647
2022-03-04  0.456249 -0.637619  0.136602 -0.583799
2022-03-05  0.006948 -1.501057 -0.801824  0.511721
2022-03-06  1.666207 -1.112635  1.763001 -1.433848
2022-03-07  0.377625 -0.256860  0.560966 -0.377700

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df3 = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df3

df3.sort_values(by="B")

                   A         B         C         D
2022-03-05  0.753019 -0.853054  0.977386  0.853760
2022-03-07  2.091706 -0.791709  0.906786  0.784054
2022-03-04  0.602748 -0.692042  0.244267 -0.593300
2022-03-06  0.200868 -0.064486 -0.859959 -0.721136
2022-03-01  1.186396  0.353753  0.384418  1.329927
2022-03-02  0.321441  0.531697  0.457125 -1.478348
2022-03-03 -0.015968  1.159518 -1.962775 -1.846704

Selection >> Getting

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df["A"]

2022-03-01    0.788519
2022-03-02    0.318777
2022-03-03   -0.410509
2022-03-04   -0.206258
2022-03-05    2.054559
2022-03-06   -0.576354
2022-03-07    0.822698
Freq: D, Name: A, dtype: float64

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df[0:3]

                   A         B         C         D
2022-03-01  3.086709  0.591451  0.070598 -0.576073
2022-03-02  0.739242  0.525254  0.747148 -0.445178
2022-03-03 -0.623137 -1.762176 -0.055538 -1.628918

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df["20220302":"20220304"]

                   A         B         C         D
2022-03-02 -0.438703 -0.928940  0.632361 -1.177183
2022-03-03  0.906594  0.555311  1.208805 -0.255373
2022-03-04  0.271193  0.819955  0.388119 -1.044405

Selection by label

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df.loc[dates[0]]

A   -0.338121
B    0.961746
C   -1.809550
D   -1.110557
Name: 2022-03-01 00:00:00, dtype: float64

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df.loc[:,["A","B"]]

                   A         B
2022-03-01 -1.206672 -0.817304
2022-03-02  0.901213 -0.137916
2022-03-03 -0.952725  0.639013
2022-03-04  0.000068  0.153328
2022-03-05  1.271580 -0.273722
2022-03-06  1.873281  1.081645
2022-03-07 -0.141288 -0.450796

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301", periods=6)
dates
df = pd.DataFrame (np.random.rand(6,4), index= dates, columns=list("ABCD"))
df

df.loc["20220302":"20220304",["A","B"]]

                   A         B
2022-03-02  0.920444  0.539620
2022-03-03  0.602997  0.065893
2022-03-04  0.272284  0.899091

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range ("20220301", periods=6)
dates

df =  pd.DataFrame (np.random.rand(6,4), index=dates, columns=list("ABCD"))

In [ ]:
# test code
df.loc["20130102", ["A", "B"]]

In [ ]:
import numpy as np
import pandas as pd

dates = pd.date_range("20220301",periods=7)

dates

df = pd.DataFrame (np.random.randn(7,4), index=dates, columns=list("ABCD"))
df

df.loc[:,["A","B"]]